body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0B0C10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
.header button{
  border: none;
  background: none;
  
  color: #C5C6C7;
  cursor: pointer;
}


.Main-Photo{
  width: 437px;
  height: 480px;
  opacity: 0.8;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 308px 290px 294px 318px;

  position: absolute;
  right: 10%;
}

.logo{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;

  color: #FFFBFB;
  padding: 5% 8%;
}

.intro{
  width:90%;
  padding: 0% 8%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;

  color: #C5C6C7;
}

.social{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 4% 8%;
}
.fb{
  padding: 0% 2%;
}
.fb a{
  color:  #1877f2
}
.insta{
  padding: 0% 2%;
}
.insta a{
  color: #833AB4;
}
.tw{
  padding: 0% 2%;
}
.tw a{
  color:  #1da1f2;
}
.git{
  padding: 0% 2%;
}
.git a{
  color: #C5C6C7;
}
.in{
  padding: 0% 2%;
}
.in a{
  color:  #006192;
}
.mail{
  padding: 0% 2%;
}
.mail a{
  color: #C5C6C7;
}

.social a{
  text-decoration: none;
  text-shadow: #C5C6C7;
  font-size: large;
}

.footer-content{
  margin: 5% 8% 0% 8%;
}

.footer-content-left button{
  text-decoration: none;
  font-size: 0.8rem;
  color: #C5C6C7;

  border: 0px solid #000000;
  border-radius: 10px;
  padding: 0.5% 2%;
  background-color: #2F69BF;
}



.footer-content-left button:hover{
  cursor: pointer;
}

.copyright{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 0.5rem;

  color: #C5C6C7;
  margin: 4% 0% 0% 40%;
}